*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #10b513;
}
#header{
    width: 100%;
    height: 30vh;
    background-image: url(Background.jfif);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
 
.logo{
    width: 140px;
}

nav ul li{
    display: inline-block; 
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-left:10%;
    font-size: 30px;
    margin-top: 110px;  
}
.header-text h1{
    font-size: 60px;
    margin-top: 200px;  
}
.header-text h1 span{
    color: #ff004f;
}
/* ---------Home--------- */
#Home{
    padding: 80px 0;
    color:rgb(127, 165, 255);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Home-col-1{
     flex-basis: 35%;
}

.Home-col-1 img{
    width: 65%;
    border-radius: 15px;
}
.Home-col-2{
    flex-basis: 60%;
    font-size: 20px;
}

